<% title("Home Page") %>


<div class="container" id="main-title-section">
	<div class="row">
		<h1 id="main-title">Kellogg Web Studio</h1>
	</div>
	<div class="row">
		<div class="col-xs-4 text-center" id="fade-left" >
			<h2 id="sub-title-left">Data-Driven</h2>
			<p class="lead">I build sites for professionals with a focus on reliability, clarity and backed by Google Analytics so you'll always know what works and what doesn't.</p>
			<%= image_tag("datadriven.png", alt: "Picture of an office building in New York", class: "img-responsive img-rounded img-center") %>
		</div>
		<div class="col-xs-4 text-center" id="fade-center">
			<h2 id="sub-title-center">Cutting-Edge</h2>
			<p class="lead">I use the latest technologies to ensure your site gets blazing speed - and it does on all modern browsers.</p>
			<%= image_tag("digital.jpeg", alt: "Picture of an office building in New York", class: "img-responsive img-rounded img-center") %>
		</div>
		<div class="col-xs-4 text-center" id="fade-right">
			<h2 id="sub-title-right">End-to-End Control</h2>
			<p class="lead">I do whatever your business needs. No templates. No themes. All custom.</p>
			<%= image_tag("solutions.png", alt: "Picture of an office building in New York", class: "img-responsive img-rounded img-center") %>
		</div>
	</div>
	<div id="row">
		<div id="about" class="col-xs-3 col-xs-offset-3" >
			<blockquote><h3 class="text-center">Hi, my name is Tim, President of Kellogg Web Studios. And I'm here because I would like to give your business a voice. In today's era, you can never be too prepared.</h3></blockquote>
		</div>


	</div>
</div>

<div class="container" id="how-it-works-section">
	<div class="row">
		<h1 class="text-center">Here's how it works</h1>	
		<div class="col-xs-4 text-center">
			<%= image_tag("step1pic.png", alt: "Picture of chat bubbles", class:  "img-responsive img-rounded img-center" ) %>
			<p class="lead">Free consultation to determine if your<br> needs can be fulfilled.</p>
			<progress max="100" value="35"></progress>

		</div>

		<div class="col-xs-4 text-center">
			<%= image_tag("step2pic.png", alt: "Picture of papers for planning", class: "img-responsive img-rounded img-center") %>
			<p class="lead">I work to find the features that you want <br> and I will build a prototype.</p>
			<progress max="100" value="80"></progress>
		</div>

		<div class="col-xs-4 text-center">

			<%= image_tag("step3pic.png", alt: "Picture of computer", class: "img-responsive img-rounded img-center") %>
			<p class="lead">If you don't like it, you move on!<br>If you do, the site is launched live on the web!</p>
			<progress max="100" value="99"></progress>
		</div>
	</div>	

	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center">I build your site so it looks great <em>everywhere</em>, on <b>everything</b>.</h2>
			<%= image_tag("mockups.png", alt: "Picture of assorted devices", class: "img-responsive img-center") %> 
		</div>
	</div>
</div>

<div class="container" id="skills-section">

	<h1>Skills</h1>
	
	<div class="col-xs-4 text-center">
		<h3>Front End Development</h3>
		<canvas id="chart-javaquery"></canvas>

		<p class="label">JavaScript and jQuery</p>
	</div>
	

	<div class="col-xs-4 text-center">
		<h3>Design</h3>
		<canvas id="chart-html"></canvas>
		<p class="label">HTML and CSS</p>
	</div>

	<div class="col-xs-4 text-center">
		<h3>Backend Development</h3>
		<canvas id="chart-rubyrails"></canvas>

		<p class="label">Ruby on Rails</p>
	</div>
</div>

<div id="projects-section">
	<h1>Projects</h1>

	<!-- Hermosa Surf -->
	<div class="col-xs-6 text-center">
		<h3>Website 1</h3>
		<img src="#" id="hermosa-site" class="img-responsive img-thumbnail" data-container="body" data-placement="left" data-content="A site built for a housing association">
	</div>


	<!-- RoadTripIt.io -->
	<div class="col-xs-6 text-center">
		<h3>RoadTripIt.io</h3>
		<img src="#" id="roadtripit-site" class="img-responsive img-thumbnail" data-container="body" data-html="true" data-placement="right" data-content="A social networking site for planning, creating, booking and sharing trips! Take a look" <a href="https://www.roadtripit.io></a>" >
	</div>

</div>

		<div id="me" class="col-xs-4 col-xs-offset-2 text-left">
			<%= image_tag("me.png", alt: "Picture of the founder, Tim Kellogg", class: "img-responsive") %> 
		</div>


<div id="contact-section">
	<h2 class="text-center">Contact Us</h2>

	

</div>










